

.container {
    padding-top: 50px;
    display: block;
    float: center;
}

.jumbotron {
    margin-top: 5px;
    padding-top: 20px;
}

.blog {
    display: block;
    text-align: center;
    
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50px;
    text-align: center;
}

#submit_button {
    float: center;
    margin-bottom: 50px;
}

a {
    color: rgb(71, 71, 71);
}